#shape1 {
  background-image: url(../resource/shape.png);
  background-size: cover;
  width: 519px;
  height: 379px;
  /* 202101230absoluteにすると、他の要素と座標を鬩ぎ合う */
  position: relative;
  left: 500px;
  top: -300px;
}
