#shape1 {
  background-image: url(../resource/shape.png);
  background-size: cover;
  width: 519px;
  height: 379px;
  /* 202101230absoluteにすると、他の要素と座標を鬩ぎ合う */
  position: relative;
  left: 500px;
  top: -300px;
}

#shape2 {
  background-image: url(../resource/shape2.png);
  background-size: cover;
  width: 250px;
  height: 100px;
  /* 202101230absoluteにすると、他の要素と座標を鬩ぎ合う */
  position: relative;
  left: 0px;
  top: -1000px;
}
